{% extends 'BirgitFrontBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/project.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h1>
        <a href="{{ path('api_task_project', {name: project.name}) }}" class="api">
            {{ project.name }}
        </a>
    </h1>

    <table class="table table-bordered">
        <tr>
            <td colspan="2"></td>
            {% for projectEnvironment in project.environments %}
                <th colspan="2">
                    {{ projectEnvironment.name }}
                    <br />
                    <em>{{ projectEnvironment.referencePattern }}</em>
                </th>
            {% endfor %}
        </tr>
        {% for projectReference in project.references %}
            {% if projectReference.hosts|length %}
                <tr>
                    <th colspan="2">
                        <a href="{{ path('api_task_project_reference', {name: projectReference.name, projectName: projectReference.project.name}) }}" class="api">
                            {{ projectReference.name }}
                        </a>
                    </th>
                    {% for projectEnvironment in project.environments %}
                        <td colspan="2">
                            {% for host in projectReference.hosts %}
                                {% if host.projectEnvironment == projectEnvironment %}
                                    <a href="{{ path('api_task_host', {id: host.id}) }}" class="api">
                                        Host
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% for projectReferenceRevision in projectReference.revisions %}
                    <tr>
                        <th></th>
                        <th>
                            <abbr title="{{ projectReferenceRevision.name }}">
                                {{ projectReferenceRevision.name|truncate(6, false, '') }}
                            </abbr>
                        </th>
                        {% for projectEnvironment in project.environments %}
                            {% set buildFound = false %}
                            {% for host in projectReference.hosts %}
                                {% if host.projectEnvironment == projectEnvironment %}
                                    {% set buildFound = true %}
                                {% endif %}
                            {% endfor %}
                            {% if buildFound %}
                                <td></td>
                                <td>Build...</td>
                            {% else %}
                                <td colspan="2"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th colspan="2"><em>{{ projectReference.name }}</em></th>
                    {% for projectEnvironment in project.environments %}
                        <td colspan="2"></td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
